/* In stylesforActivity4.css */
.bus-header {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 10px;
}
.bus-content {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
.bus-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
}